@model AutoQuotesWebApp.Models.AutoQuote

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>AutoQuote</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AutoQuoteDateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AutoQuoteDateTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InsureeId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InsureeId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BaseRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BaseRate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AgeUnder18Rate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AgeUnder18Rate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AgeBtwn19and25Rate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AgeBtwn19and25Rate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AgeOver25Rate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AgeOver25Rate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AutoYearBefore2000Rate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AutoYearBefore2000Rate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AutoYearAfter2015Rate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AutoYearAfter2015Rate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsPorscheRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsPorscheRate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsCarreraRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsCarreraRate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpeedingTicketsRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpeedingTicketsRate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubtotalBeforeDuiCalc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubtotalBeforeDuiCalc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DuiRateUp25Percent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DuiRateUp25Percent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubtotalAfterDuiCalc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubtotalAfterDuiCalc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CoverageTypeRateUp50Percent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CoverageTypeRateUp50Percent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubtotalAfterCoverageTypeCalc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubtotalAfterCoverageTypeCalc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MonthlyQuoteRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MonthlyQuoteRate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.YearlyQuoteRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.YearlyQuoteRate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AutoQuoteId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
