@model AutoQuotesWebApp.Models.Insuree

@{
  Layout = null;
}

<script type="text/javascript">
    $(function () {
        $('.datetimepicker').datetimepicker();
    });
</script>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>NewInsureeFormData</title>
  <link rel="stylesheet" href="~/Content/styles_InsureeForm.css" />
  <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
</head>
<body>
  @Scripts.Render("~/bundles/jqueryval")

  <div id="BackgroundImage">

    <div id="ColorOverlay">
      <div id="TextContainer">

        @using (Html.BeginForm("Create", "Insurees", FormMethod.Post))

        {
          @Html.AntiForgeryToken()

          <div class="form-horizontal">

            <h2 id="EnterInfo">Enter Insuree Information:</h2>
            <hr />


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="HiddenInsureeIdField" class="form-group">
              @Html.HiddenFor(model => model.InsureeId, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10 insureeDataField">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.AutoYear, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.AutoYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoYear, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.AutoMake, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.AutoMake, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoMake, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.AutoModel, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.AutoModel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoModel, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.SpeedingTickets, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.SpeedingTickets, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpeedingTickets, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.DUI, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                <div class="checkbox">
                  @Html.EditorFor(model => model.DUI)
                  @Html.ValidationMessageFor(model => model.DUI, "", new { @class = "text-danger" })
                </div>
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CoverageType, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                <div class="checkbox">
                  @Html.EditorFor(model => model.CoverageType)
                  @Html.ValidationMessageFor(model => model.CoverageType, "", new { @class = "text-danger" })
                </div>
              </div>
            </div>
            <div id="HiddenAutoQuoteIdField" class="form-group">
              @Html.HiddenFor(model => model.AutoQuoteId, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div id="FormSubmitButton" class="form-group">
              <div class="col-md-offset-2 col-md-10">
                After entering all the required information...<br />
                Press the "Create" button to submit the completed form.
                <input id="CreateButton" type="submit" value="Create" class="btn btn-lg" />
              </div>
            </div>
            }
            <div id="FormConnectionLinks">
              To Learn More About Us...
              @Html.ActionLink("Follow Me", "About", "Home")
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <script src="~/Scripts/jquery-ui.js"></script>
</body>
</html> 