@model AutoQuotesWebApp.Models.Insuree

@{ Layout = null; }

<script type="text/javascript">$(function () {
        $('.datetimepicker').datetimepicker();
    });</script>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>NewInsureeFormData</title>
  <link rel="stylesheet" href="~/Content/styles_InsureeForm.css" />
  <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
</head>
<body>
  @Scripts.Render("~/bundles/jqueryval")

  <div id="BackgroundImage">

    <div id="ColorOverlay">
      <div id="TextContainer">

        @using (Html.BeginForm("Create", "Insurees", FormMethod.Post))

        {
  @Html.AntiForgeryToken()

          <div id="TitleBlock" class="form-horizontal">

            <h2 id="EnterInfo">Insuree Information Form</h2>
            <hr />


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="HiddenInsureeIdField" class="form-group">
              @Html.HiddenFor(model => model.InsureeId)
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
              <div class="col-md-10 insureeDataField">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
              <div class="col-md-10 insureeDataField">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
              <div class="col-md-10 insureeDataField ">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
              <div class="col-md-10 insureeDataField ">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.AutoYear, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
              <div class="col-md-10 insureeDataField">
                @Html.EditorFor(model => model.AutoYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoYear, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.AutoMake, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
              <div class="col-md-10 insureeDataField">
                @Html.EditorFor(model => model.AutoMake, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoMake, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.AutoModel, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
              <div class="col-md-10 insureeDataField">
                @Html.EditorFor(model => model.AutoModel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoModel, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.SpeedingTickets, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
              <div class="col-md-10 insureeDataField ">
                @Html.EditorFor(model => model.SpeedingTickets, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpeedingTickets, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.DUI, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
             
                <div id="DUICheckBox" class="col-md-10 insureeDataField">
                  @Html.EditorFor(model => model.DUI, new { htmlAttributes = new { @class = "form-control insureeDataField" } })
                  @Html.ValidationMessageFor(model => model.DUI, "", new { @class = "text-danger" })
                </div>
         
            </div>

            <div class="form-group">
               @Html.LabelFor(model => model.CoverageType, htmlAttributes: new { @class = "control-label col-md-2 labelStyle" })
              <div id="CoverageCheckBox" class="col-md-10 insureeDataField">
                @Html.EditorFor(model => model.DUI, new
           { htmlAttributes = new { @class = "form-control insureeDataField"}})
                          @Html.ValidationMessageFor(model => model.CoverageType, "", new { @class = "text-danger" })
              </div>
              </div>
              <div class="form-group hiddenGroup">
                @Html.HiddenFor(model => model.DoNotEmail)
              </div>

            </div>
        <div id="FormSubmitButton" class="form-group">
              <div class="col-md-offset-2 col-md-10 btn btn-block">
          
                <input id="CreateButton" type="submit" value="Create" class="btn btn-lg" />
               <h4 id="YourQuote">  your Auto Insurance Quote!!!</h4>
              </div>
            </div>
           
            <div id="FormConnectionLinks">
              To Learn More About Us...
              @Html.ActionLink("Follow Me", "About", "Home")
            </div>
          
          }
      </div>
    </div>
  </div>
  <script src="~/Scripts/jquery-ui.js"></script>
</body>
</html> 