@model IEnumerable<AutoQuotesWebApp.Models.Insuree>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeedingTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DUI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearlyRate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeedingTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyRate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.InsureeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.InsureeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.InsureeId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
